.DS_Store
Pico W/.DS_Store
Pico W/Projects/.DS_Store
Pico W/Projects/Arduino/.DS_Store
Pico W/.DS_Store
Pico W/Libraries/.DS_Store
Pico W/Libraries/Python/.DS_Store
Pico W/Libraries/Arduino/.DS_Store
